
.flex-cotainer{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 1em;

}
.flex-cotainer > *{
    /* flex-grow: 1; */
    /* flex: 1; this one  is terrible solution when thats  we use of grid sys*/  
    /* flex-basis: 100px; */
}

.grid-cotainer{
display: grid;
gap: 1em;
/* grid-auto-flow: column; */

/* grid-template-columns: repeat(4,1fr); */
grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
div:not([class]){
    outline: 2px solid black;
    padding: 0.5rem;
}